.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
    text-align: center;
    font-size: large;
    font-style: italic;
    text-decoration: blink;
    text-decoration-color: blueviolet;
    text-shadow: burlywood;
    text-transform: uppercase;
    border-style: solid;
    border-width: 10px;
    border-color: royalblue;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    left: 300px;
    top: -200px
    font-size: large;
    font-style: italic;
    text-decoration: blink;
    text-decoration-color: blueviolet;
    text-shadow: burlywood;
    text-transform: uppercase;
    border-style: solid;
    border-width: 10px;
    border-color: royalblue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 500px;
    top: -230px
    font-size: large;
    font-style: italic;
    text-decoration: blink;
    text-decoration-color: blueviolet;
    text-shadow: burlywood;
    text-transform: uppercase;
    border-style: solid;
    border-width: 10px;
    border-color: royalblue;
  }