
* {color: rgb(248, 2, 2);}
h1 {color: blue;}
p {color: grey;}
.jatkuu {color: rgb(98, 0, 255);font-style: italic;}
body {margin:0 auto; max-width: 50em;font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;padding: 4em 1em;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}
.keskustelu {color: grey;}
